/* 全体 */
body {
    font-family:fantasy;
    font-size:80%;
    color:rgb(0, 0, 0);
}

.row {
    margin-right:0;
    margin-left:0;
}

img {
    border:0;
}

a {
    color:rgb(0, 0, 0);
    text-decoration:none;
}

.scrollarea::-webkit-scrollbar {
    width:7px;
}

.scrollarea::-webkit-scrollbar-thumb {
    background:rgb(255, 255, 255);
    border-radius:10px;
}

.scrollarea::-webkit-scrollbar-track {
    background: rgba(100,100,100, .5);
}


/* contact-inf.html */
/* ヘッダー */
.nav-item-account-img {
    width:60px;
    height:60px;
}

/* メイン */
main {
    background-color:rgb(255, 255, 200);
    border-top:solid 1px rgb(163, 161, 161);
}

.main-center-block {
    border-right:solid 1px rgb(163, 161, 161);
    border-left:solid 1px rgb(163, 161, 161);
}

.main-center-content-block {
    overflow-y:auto;
    /* レスポンシブ対応 */
    /* height:60%; */
}

.main-center-content-header {
    background:linear-gradient(transparent 50%, yellow 50%);
    font-size:1.6rem;
}

.main-center-content-account-img {
    width:50px;
    height:50px;
}

.main-center-content-account-name {
    font-size:1.6rem;
}

/* message.html */
.main-right {
    font-size:85%;
    height:650px;
}

.main-right {
    border-left:solid 1px rgb(163, 161, 161);
}

.main-right-content-area {
    height:850px;
    overflow-y:auto;
}

.main-right-send-icon-camera,.main-right-send-icon-file,.main-right-send-icon-stamp,.main-right-send-icon-send:hover {
    cursor:pointer;
}

.main-right-content-area-img {
    width:80px;
    height:80px;
}

.main-right-content-area-talk {
    border:solid 1px rgb(163, 161, 161);
    background-color:#78FF6C;
    border-radius: 10px;
    min-height: 30px;
}

.main-right-form-area {
    bottom:60px;
    right:0;
    width:70%;
}

.main-right-form-send-file-area {
    border-top:solid 1px rgb(163, 161, 161);
}

.main-right-send-icon-stamp-form,.main-right-send-form {
    display:none;
}

.main-right-send-icon-stamp-dialog-img {
    height:100px;
    width:100px;
}

/*　画面サイズが1279pxまではここを読み込む　*/
@media screen and (max-width:1279px) {
    /* contact-inf.html */
    /* メイン */
    .main-center-content-block {
        /* レスポンシブ対応 */
        height:;
    }

    .main-center-content-header {
        font-size:1.6rem;
    }

    .main-center-content-account-img {
        width:50px;
        height:50px;
    }

    .main-center-content-account-name {
        font-size:1.0rem;
    }

    /* message.html */

}

/*　画面サイズが959pxまではここを読み込む　*/
@media screen and (max-width:959px) {
    /* contact-inf.html */
    /* メイン */
    .main-center-content-block {
        /* レスポンシブ対応 */
        height:;
    }

    .main-center-content-header {
        font-size:1.3rem;
    }

    .main-center-content-account-img {
        width:40px;
        height:40px;
    }

    .main-center-content-account-name {
        font-size:.8rem;
    }

    /* message.html */

}

/*　画面サイズが599pxまではここを読み込む　*/
@media screen and (max-width:599px) {
    /* contact-inf.html */
    /* メイン */
    .main-center-content-block {
        /* レスポンシブ対応 */
        height:;
    }

    .main-center-content-header {
        font-size:1.6rem;
    }

    .main-center-content-account-img {
        width:50px;
        height:50px;
    }

    .main-center-content-account-name {
        font-size:1.6rem;
    }

    /* message.html */

}
/*　画面サイズが479pxまではここを読み込む　*/
@media screen and (max-width:479px) {
    /* contact-inf.html */
    /* メイン */
    .main-center-content-block {
        /* レスポンシブ対応 */
        height:;
    }

    .main-center-content-header {
        font-size:1.6rem;
    }

    .main-center-content-account-img {
        width:50px;
        height:50px;
    }

    .main-center-content-account-name {
        font-size:1.6rem;
    }

    /* message.html */

}