/* 全体 */
body {
    font-family:fantasy;
    font-size:80%;
    color:rgb(0, 0, 0);
}

.row {
    margin-right:0;
    margin-left:0;
}

img {
    border:0;
}

a {
    color:rgb(0, 0, 0);
    text-decoration:none;
}


/* メイン */
main {
    background-color:rgb(255, 255, 200);
    border-top:solid 1px rgb(163, 161, 161);
}

.scrollarea::-webkit-scrollbar {
    width:7px;
}

.scrollarea::-webkit-scrollbar-thumb {
    background:rgb(255, 255, 255);
    border-radius:10px;
}

.scrollarea::-webkit-scrollbar-track {
    background: rgba(100,100,100, .5);
}

.main-left,.main-right {
    font-size:85%;
    height:957px;
}

.main-left {
    border-right:solid 1px rgb(163, 161, 161);
}

.main-right {
    border-left:solid 1px rgb(163, 161, 161);
}

.main-left-header-img {
    width:80px;
    height:80px;
}

.main-left-content {
    height:720px;
    overflow-y:auto;
}

.main-left-content-img {
    width:50px;
    height:50px;
}

.main-right-content-area {
    height:850px;
    overflow-y:auto;
}

.main-right-send-icon-camera,.main-right-send-icon-file,.main-right-send-icon-stamp,.main-right-send-icon-send:hover {
    cursor:pointer;
}

.main-right-content-area-img {
    width:80px;
    height:80px;
}

.main-right-content-area-talk {
    border:solid 1px rgb(163, 161, 161);
    background-color:#78FF6C;
    border-radius: 10px;
    min-height: 30px;
}

.main-right-form-area {
    bottom:0;
    right:0;
    width:70%;
}

.main-right-form-send-file-area {
    border-top:solid 1px rgb(163, 161, 161);
}

.main-right-send-icon-stamp-dialog,.main-right-send-form {
    display:none;
}

.main-right-send-icon-stamp-dialog {
    left:550px;
    bottom:150px;
    position: relative; /* 三角の位置を固定するために設定 */
    width: 193px; /* 幅 */
    margin: 0 auto 40px; /* 上 左右 下のマージン */
    background: #ddd; /* 背景色 */
}

.main-right-send-icon-stamp-dialog::before {
    content: '';
    position: absolute; /* 位置固定 */
    bottom: -28px; /* 線幅の2倍 */
    left: 50%;
    margin-left: -14px; /* 線幅だけずらす */
    border: 14px solid transparent; /* 線幅の設定 */
    border-top-color: #ddd; /* 吹き出しの地と同じ色 */
}

.main-right-send-icon-stamp-dialog td {
    cursor:pointer;
}

.main-right-send-icon-stamp-dialog-img {
    height:100px;
    width:100px;
}