* {
    margin:0;
    padding:0;
}

html {
    overflow-y:scroll;
}

body {
    font-family:fantasy;
    font-size:80%;
    color:rgb(0, 0, 0);
}

.row {
    margin-right:0;
    margin-left:0;
}

img {
    border: 0;
}

a {
    color:rgb(0, 0, 0);
    text-decoration:none;
}

a:hover{
   color:rgb(0, 0, 0);
   text-decoration:none;
}

main {
    background-color:rgb(255, 255, 255);  
}

div.jumbotron {
    height: 650px;
    background-image:url("../img/main/banner.jpg");
    background-size:cover;
    background-position:center 50%;
    margin-bottom:0;
}

div.jumbotron>.jumbotron-content {
    position:relative;
    top:325px;
}

div.jumbotron h1 {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
    color:rgb(255, 255, 100);
}

div.jumbotron h1 .jumbotron-content-emphasis {
    height:40%;
    width:40%;
}

div.jumbotron h1 .jumbotron-content-supporting {
    position:absolute;
    bottom:0;
}

div.main-top {
    margin-top:50px;
    text-align:center;
}

div.main-section-block h3 span {
    background:linear-gradient(transparent 50%, yellow 50%);
}

div.main-section-block {
    width:100%;
    margin-top:50px;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
    min-height:200px;
    background-color:rgb(255, 255, 200);
    border-radius:10%;
    border:medium solid rgb(0, 0, 0);
}

div.main-section-header {
    min-height:60px;
}

div.main-section-header .main-section-header-content{
    text-align:center;
}

div.main-section-explation {
    min-height:200px;
}

div.main-section-explation .section-supporting-img {
    width:auto;
    height:auto;
    min-width:100%;
    max-height:180px;
    background-color:rgb(255, 255, 200);
}

div.main-section-explation .main-section-explation-content {
    font-size:180%;
    vertical-align: middle;
}

div.main-section-btn {
    min-height:50px;
    text-align:center;   
}

footer {
    background-color:rgb(255, 255, 200);;
}
div.footer-top-link {
    min-height:30px;
}

div.footer-main-flex {
    margin-right:10%;
    margin-left:10%;
    padding-right:10%;
    padding-left:10%;
    min-height:180px;
}

div.flex-item>h5 {
    text-decoration:underline;
}

div.footer-main-flex ul {
    list-style:none;
    margin-top:20px;
}

div.footer-main-flex ul>li{
    margin-bottom:10px;
}

