/* 必須項目を入力間違いの場合の指定 */
input:required {
    background:rgb(248, 192, 192);
}

/* 入力内容が正しかった場合の指定 */
input.form-control:valid {
    background: transparent;
}

/* 全体 */
html {
    overflow-y:scroll;
}

body {
    font-family:fantasy;
    font-size:80%;
    color:rgb(0, 0, 0);
}

a {
    color:rgb(0, 0, 0);
    text-decoration:none;
}

/* フッター */
footer {
    background-color:rgb(255, 255, 200);
}

.footer-top {
    min-height:30px;
}